<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gundam RX-72 Yokohama - Traductor Japonés</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Gundam RX-72 Yokohama - Traductor Japonés</h1>
    <input type="text" id="texto" placeholder="Escribe una palabra o frase">
    <button onclick="traducir()">Traducir</button>
    <div id="resultado"></div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
